.gitkeep
.env*
*.ico
*.lock
.next
.yarn
.pnp.*
node_modules
README.md
tailwind.config.js
.eslintrc.json
.prettierignore
.prettierrc.json
.idea
package.json
package-lock.json
next.config.js
next-env.d.ts
postcss.config.js
